{% extends "base.html" %}

{% block content %}
<div class="progress mb-3">
    <div class="progress-bar" role="progressbar" style="width:60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
</div>

<h3 class="page-theme">Cost of Prevention and Preparedness</h3>
<div class="row mt-4">
    <form hx-post="/currentrisk2" hx-target="#game-container" hx-swap="outerHTML">
        <h4 class="mb-3 fw-bold">How much would you spend to avoid harm or loss from these hazards?</h4>
        <div class="likert-form likert-form-single">
            <div class="range-labels">
                <div class="range-label range-label-min">Less than<br>$1K</div>
                <div class="range-label range-label">$1K to $10K</div>
                <div class="range-label range-label">$10K to $100K</div>
                <div class="range-label range-label">$100K to $1M</div>
                <div class="range-label range-label-max">$1M or more</div>
            </div>
            <div class="form-group filter col-12">     
                <label for="earthquake" class="form-label">Earthquakes</label>
                <input type="range" class="form-range" id="earthquake" name="earthquake" min="1" max="5" value="1">
            </div>
            <div class="form-group filter col-12">     
                <label for="wildfire" class="form-label">Wildfires</label>
                <input type="range" class="form-range" id="wildfire" name="wildfire" min="1" max="5" value="1">
            </div>
            <div class="form-group filter col-12">     
                <label for="flood" class="form-label">Floods</label>
                <input type="range" class="form-range" id="flood" name="flood" min="1" max="5" value="1">
            </div>
            <div class="form-group filter col-12">     
                <label for="landslide" class="form-label">Landslides</label>
                <input type="range" class="form-range" id="landslide" name="landslide" min="1" max="5" value="1">
            </div>
            <div class="form-group filter col-12">     
                <label for="severe-weather" class="form-label">Severe Weather</label>
                <input type="range" class="form-range" id="severe-weather" name="severe-weather" min="1" max="5" value="1">
            </div>
            <div class="form-group filter col-12">     
                <label for="volcano" class="form-label">Volcanic Activity</label>
                <input type="range" class="form-range" id="volcano" name="volcano" min="1" max="5" value="1">
            </div>
        </div>
        <button id="submit-button" type="submit" class="btn btn-primary" >Next</button>
    </form> 
</div>
{% endblock %}