
<!-- BLS data sources -->
Salary data source: BLS Occupational Employment Statistics – May 2023 data https://www.bls.gov/oes/tables.htm 
Job interests and job zone data = ONET database https://www.onetcenter.org/database.html
Cost of living data source: Economic Policy Institute Family Budget Calculator, January 2024. Data are in 2023 dollars. https://www.epi.org/resources/budget/ We used only the 1 person no children data for the game.
Hazard risk source: National Risk Index tables at https://hazards.fema.gov/nri/data-resources Used the NRI_Tables_Counties table to map risk index to the county level. Accessed on 6/1/2024.
Crime rates FBI Crime Data Explorer, NBIRS Tables: State tables, offenses by agency for 2022. https://cde.ucr.cjis.gov/LATEST/webapp/# Crime rate is calculated per 1,000 people using the population data provided at the city level. Accessed on 6/1/2024.


<!-- ONET data sources -->
<p>This page includes information from the <a href="https://www.onetcenter.org/database.html">O*NET 28.3 Database</a> by the U.S. Department of Labor, Employment and Training Administration (USDOL/ETA). Used under the <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> license. </p>